<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.koutian.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <id column="id" property="uid"/>
        <result column="username" property="username"/>
        <!--<id column="password" property="password"/>-->
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="hiredate" property="regdate"/>
    </resultMap>

    <select id="findUserById" parameterType="int"
            resultMap="UserResult">
        select *
        from b_user
        where
        b_user.id=#{id}
    </select>

    <select id="findUserByName"
            resultMap="UserResult">
        select *
        from b_user
        where
        b_user.username=#{username} and b_user.password=#{password}
    </select>

    <update id="updateUser" parameterType="User">
        update b_user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="email != null">email=#{email},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="regdate != null">hiredate=#{regdate},</if>
        </set>
        where id=#{uid}
    </update>
</mapper>